div.dino
{
	padding-top: 50px;
	padding-right: 30px;
    padding-bottom: 300px;
    padding-left: 30px;
}


#bird
{
	position: relative;
	top: 100px;
	left: 30px;
	z-index: 1;
}

#background
{
	width: 75%;
	position: absolute;
	top: 100px;
	z-index: 0;
}

#bird2
{
	position: relative;
	top: 100px;
	right: -850px;
	z-index: 1;
}

div.button
{
	position: fixed;
	top: 800px;
}